<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kptl.job.dao.CompanyMapper">

    <insert id="registeredCompany" parameterType="com.kptl.proto.Company">
        insert into company(company_id, company_name, company_location, register_time, update_time)
            value (#{company.id}, #{company.companyName}, #{company.companyLocation}, now(), now())
    </insert>

    <update id="updateCompany" parameterType="com.kptl.proto.Company">
        update company set (company_name = #{company.companyName}, company_location = #{company.companyLocation}, update_time = now())
        where company_id = {company.id}
    </update>

    <select id="findCompanies" resultType="com.kptl.proto.Company">
        select * from company
    </select>

    <select id="findCompanyByName" resultType="com.kptl.proto.Company">
        select * from company where company_name like "%"#{companyName}"%"
    </select>

    <select id="findCompanyByIndustry" resultType="com.kptl.proto.Company">
        select * from company where industry = #{industry}
    </select>

</mapper>