<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kptl.job.dao.JobMapper">

    <insert id="saveJob" parameterType="com.kptl.proto.JobMessage">
        insert into job(job_name, job_money, job_req, job_location, company_id, recruiter_name, recruiter_phone,
                        job_need, recruiter_id, open_time, job_tags, update_time)
        value (#{job.jobName}, #{job.jobMoney}, #{job.jobReq}, #{job.jobLocation}, #{job.companyId}, #{job.recruiterName},
                #{job.recruiterPhone}, #{job.jobNeed}, #{job.recruiterId}, now(), #{job.jobTags}, now())
    </insert>
    <update id="updateJob" parameterType="com.kptl.proto.JobMessage">
        update job set (job_name = #{job.jobName}, job_money = #{job.jobMoney}, job_req = #{job.jobReq}, job_location = #{jobLocation},
                           recruiter_name = #{job.recruiterName}, recruiter_phone = #{job.recruiterPhone}, job_need = #{jobNeed},
                        job_tags = {job.jobTags}, update_time = now())
               where job_id = {job.jobId}
    </update>

    <select id="findJobByName" parameterType="java.lang.String" resultType="com.kptl.proto.JobMessage">
        select job_id, job_name, job_money, job_location, company_id, recruiter_name, job_tags, recruiter_phone, update_time
        from job where job_name like "%"#{jobName}"%" limit #{index}, #{size}
    </select>

    <select id="findJobById" parameterType="java.lang.Integer">
        select * from job where job_id = #{jobId}
    </select>
    
    <select id="findAllJobs" resultType="com.kptl.proto.JobMessage">
        select job_id, job_name, job_money, job_location, company_id, recruiter_name, job_tags, recruiter_phone, update_time
        from job limit #{index}, #{size}
    </select>

    <select id="findJobsByRecruiter" resultType="com.kptl.proto.JobMessage">
        select job_id, job_name, job_money, job_location, company_id, recruiter_name, job_tags, recruiter_phone, update_time
        from job where recruiter_id = #{request.id} limit #{request.index}, #{request.size}
    </select>

    <select id="findJobsByRecruiter" resultType="com.kptl.proto.JobMessage">
        select job_id, job_name, job_money, job_location, company_id, recruiter_name, job_tags, recruiter_phone, update_time
        from job where company_id = #{request.id} limit #{request.index}, #{request.size}
    </select>

</mapper>